@model IEnumerable<IgdbGame>

<div id="confirmation">

</div>
<h1>Search Results</h1>

<table class="table" id="gameTable">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody id="gameTableBody">
@*    @foreach (var game in Model)
    {
        <tr>
            <td><img src="@game.GameCoverArt" alt="@game.GameTitle" /></td>
            <td>@game.GameTitle</td>
            <td><a href="@game.GameWebsite">@game.GameWebsite</a></td>
        </tr>
    }*@
    </tbody>
</table>

<div class="modal fade" id="AddGame" tabindex="-1" aria-labelledby="gameFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobFormModalLabel">Add Game to list!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="addListForm" method="post">
                        <div>
                            <label for="listName">List Name</label>
                            <br />
                            <select id="listName" name="listName">
                            </select>
                        </div>
                        @*asp-action="AddList"*@
                        <input id="formSubmit" type="submit" data-bs-dismiss="modal" class="btn btn-primary"
                               value="Add Game" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
